<div style="display: flex; justify-content: center; align-items: center; height: 50px;">
    <a href="/subscribe" class="gradient-button">Subscribe Now</a>
  </div>
  
  <style>
    .gradient-button {
      display: inline-block;
      background-image: radial-gradient(circle, #31454c, #062226);
      color: #ffffff;
      padding: 10px 20px;
      margin-top: 25px;
      border: 2px solid #ffffff;
      text-decoration: none;
      border-radius: 5px;
      transition: background-image 0.3s ease-in-out, opacity 0.3s ease-in-out;
      opacity: 1; /* Full opacity */
    }
    
    .gradient-button:hover {
      background-image: radial-gradient(circle, #012853, #000000);
      opacity: 0.8; /* Slightly transparent on hover */
    }
  </style>